$.templates("comment_template", '{{for comments}}<div class="comment-section"><div class="form-group"><label for="comment_{{:#index}}">Comment {{:#index+1}}:</label>    <textarea class="form-control comment" id="comment_{{:#index}}"></textarea>    </div>    <div class="form-group">    <label for="category_{{:#index}}">Category:</label>    <select class="form_control category" id="category_{{:#index}}">    <option>Sales Knowledge</option><option>Professionalism</option><option>Communication</option><option>Installation Team</option><option>Material Quality</option><option>Workmanship Quality</option><option>Cleanliness / Safety</option><option>Job Satisfaction</option><option>Addressing Work Issues</option><option>Schedule</option><option>Value</option><option>Likely to Recommend</option><option>Improvement Areas</option></select></div></div>{{/for}}');