$.templates("map_template", '<div class="infowindow">{{for comments ~idx=idx ~addr=display_address ~name=display_name ~date=date}}<div class="comment {{if #index == ~idx}}selected-comment{{/if}}"><div class="customer">Comment on:<div class="category">{{>category}}</div><div class="name">{{>~name}}</div><div class="address">{{>~addr}}</div><div class="date">{{>~date}}</div></div><div class="text">{{>comment}}</div></div>{{/for}}<div style="clear:both"></div><div class="pagers">{{for comments ~idx=idx}}<div class="pager page-{{:~customer_idx}} {{if #index == ~idx}}selected-pager{{/if}}" data-rel="{{:#index}}"></div>{{/for}}</div></div>');