$.templates("map_template", '<div class="infowindow">{{for comments ~addr=address ~date=date}}<div class="comment {{if #index == 0}}selected-comment{{/if}}"><div class="info">Comment on:<div class="category">{{>category}}</div><div class="address">{{>~addr}}</div><div class="date">{{>~date}}</div></div><div class="text">{{>comment}}</div></div>{{/for}}<div style="clear:both"></div><div class="pagers">{{for comments}}<div class="pager {{if #index == 0}}selected-pager{{/if}}" data-rel="{{:#index}}"></div>{{/for}}</div></div>');