$.templates("comment_table_template", '<thead><tr><th>Name</th><th>Display Name</th><th>Address</th><th>Display Address</th><th>Comment</th><th>Actions</th></tr></thead><tbody>{{for customers}}{{for comments ~fname=first_name ~lname=last_name ~dname=display_name ~daddr=display_address ~addr=address ~customer_idx=#index}}<tr><td>{{>~fname}} {{>~lname}}</td><td>{{>~dname}}</td><td>{{>~addr}}</td><td>{{>~daddr}}</td><td>{{>comment}}</td><td><a class="action" href="javascript:editComment({{:~customer_idx}})">Edit</a><a class="action" href="javascript:delComment({{:~customer_idx}}, {{:#index}})">Delete</a></td></tr>{{/for}}{{/for}}');